
:root {
  --grid-size: 500px;
  --margin-size: 15px;
  --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
}

body {
  font-family: sans-serif;
}

#grid {
  align-content: space-between;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--grid-size);
  width: var(--grid-size);
}

#grid div {
  background-color: lightyellow;
  height: var(--square-size);
  width: var(--square-size);

  display: flex;
  justify-content: center;
  align-items: center;
}

#grid div img {
  width: 60%;
}
